<div class="container">
        <div id="contact-title"><a class="mat-headline">
            <span class="dot"></span>
            <span class="dot"></span>
            <span class="dot"></span>
            <b>{{'Languages & Tools'|translate}}</b>
            <span class="dot"></span>
            <span class="dot"></span>
            <span class="dot"></span>
        </a></div>

        <div >
            <h4 id="skill-subtitle">
                {{'My areas of interest include Machine Learning and Web Development. Below are highlights of my technical skills:'|translate}}
            </h4>
        </div>

        <div class="skill-group" id="top-skill">
            <a class="mat-subheading-1">Python</a>
            <mat-progress-bar [style.width.%]="width" mode="determinate" value="95"></mat-progress-bar><span class="bar-dot"></span>
        </div>
        <div class="skill-group">
            <a class="mat-subheading-1">HTML/CSS</a>
            <mat-progress-bar [style.width.%]="width" mode="determinate" value="85"></mat-progress-bar>
        </div>
        <div class="skill-group">
            <a class="mat-subheading-1">JavaScript/TypeScript</a>
            <mat-progress-bar [style.width.%]="width" mode="determinate" value="80"></mat-progress-bar>
        </div>
        <div class="skill-group">
            <a class="mat-subheading-1">Java</a>
            <mat-progress-bar [style.width.%]="width" mode="determinate" value="75"></mat-progress-bar>
        </div>
        <div class="skill-group">
            <a class="mat-subheading-1">C/C++</a>
            <mat-progress-bar [style.width.%]="width" mode="determinate" value="70"></mat-progress-bar>
        </div>
        <div class="skill-group">
            <a class="mat-subheading-1">SQL</a>
            <mat-progress-bar [style.width.%]="width" mode="determinate" value="65"></mat-progress-bar>
        </div>
</div>


