<div class="bg">
    <div class="container">
        <div id="contact-title">
            <a class="mat-headline">
                <span class="dot"></span>
                <span class="dot"></span>
                <span class="dot"></span>
                <b>{{'Projects'|translate}}</b>
                <span class="dot"></span>
                <span class="dot"></span>
                <span class="dot"></span>
            </a>
        </div>
        
        <div >
            <h4 id="exp-subtitle">
                {{'Check out some of my creations.'|translate}}
            </h4>
        </div>

        <div>
            <div class="about-text"></div>
            <mat-grid-list cols="2" rowHeight="2:1" >

                <mat-grid-tile>
                    <mat-card [style.width.%]="width" id="visorter">
                        <a class="visorter-img"href="https://vidulashr.github.io/index.html" target="_blank" rel="noopener noreferrer" style="position:absolute;width:100%;height:100%;"></a>
                        <h3 class="project-title">{{'Sorting Algorithm Visualization Tool'|translate}}</h3>
                        <mat-chip-list class="skill-set">
                            <mat-icon>tag</mat-icon>
                            <mat-chip color="primary">HTML</mat-chip>
                            <mat-chip color="accent">CSS</mat-chip>
                            <mat-chip color="primary">JavaScript</mat-chip>
                        </mat-chip-list>
                    </mat-card>
                </mat-grid-tile>

                <mat-grid-tile>
                    <mat-card [style.width.%]="width" id="gravisual">
                        <a class="gravisual-img" href="https://vidulashr.github.io/GravityProject/test.html" target="_blank" rel="noopener noreferrer" style="position:absolute;width:100%;height:100%;"></a>
                        <h3 class="project-title">{{'Gravity Visualization Tool'|translate}}</h3>
                        <mat-chip-list class="skill-set">
                            <mat-icon>tag</mat-icon>
                            <mat-chip color="primary">HTML</mat-chip>
                            <mat-chip color="accent">CSS</mat-chip>
                            <mat-chip color="primary">JavaScript</mat-chip>
                        </mat-chip-list>
                    </mat-card>
                </mat-grid-tile>

              </mat-grid-list>
    
        </div>
    </div>
</div>
        