.mat-form-field{
    width: 50%;
}

.contact-row{
    text-align: center;
    transition: opacity 0.5s ease;
}

#contact-title{
    margin: 2pc;
    text-align: center;
    margin-bottom: 10px;
}

.mat-button{
    font-size: x-large;
    transition: all 0.25s ease;
}

#contact-button{
    text-align: center;
}

.mat-headline{
    font-size: 30px;
}

.mat-button-wrapper{
    margin: 3pc;
}
.mat-button{
    color: white;
    background-color: rgba(47, 79, 133, 0.87);
    padding-right: 2pc;
    padding-left: 2pc;
    padding-top: 0.5pc;
    padding-bottom: 0.5pc;
}

#contact-subtitle{
    text-align: center;
    color:  rgba(47, 79, 133, 0.54);
    margin-bottom:2pc;
}

.mat-button:hover{
    border: 1.5px solid rgba(47, 79, 133, 0.87);
    background-color: white;
    color: rgba(47, 79, 133, 0.87);

}

.mat-icon{
    font-size: 23px;
}

#contact-send{
    visibility: hidden;
    position: fixed;
    display: inline-block;
    margin-top: 2pc;
    width: 100%;
    padding:0;
}


#contact-error{
    visibility: hidden;
    font-weight: bold;
    position: relative;
    display: inline-block;
    margin-top: 2pc;
    text-align: center;
    width: 100%;
}


h2{
    padding: 1pc;
    text-align: center;
}

h3{
    text-align: center;
    color: #d61313;
}

h1{
    margin: 0%;
    padding: 0%;
    font-size: 30px;
    display:inline-block;
}

