<div class="container">

    <div id="contact-title">
        <a class="mat-headline" >
            <span class="dot"></span>
            <span class="dot"></span>
            <span class="dot"></span>
            <b>{{"Let's Chat "|translate}}</b>
            <mat-icon>chat</mat-icon>
            <span class="dot"></span>
            <span class="dot"></span>
            <span class="dot"></span>
        </a>
    </div>

    <div >
        <h4 id="contact-subtitle">
            {{'Let me get to know more about you.'|translate}}
        </h4>
    </div>

    <div class="contact-row" [style.opacity.%]="opacity">
    <mat-form-field appearance="fill" >
        <mat-label for="name">{{'Enter your name'|translate}}</mat-label>
            <input matInput type="text" id="name" name="name" placeholder="..." [formControl]="name">
        <mat-error *ngIf="name.invalid">{{getNameErrorMessage()}}</mat-error>
    </mat-form-field>
    </div>

    <div class="contact-row" [style.opacity.%]="opacity">
    <mat-form-field appearance="fill">
        <mat-label>{{'Enter your email'|translate}}</mat-label>
            <input matInput placeholder="..." id="email" name="email"[formControl]="email" required>
        <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error>
    </mat-form-field>
    </div>

    <div class="contact-row" [style.opacity.%]="opacity">
    <mat-form-field appearance="fill">
        <mat-label>Message</mat-label>
        <textarea matInput></textarea>
    </mat-form-field>
    </div>
    <!-- 
    <div>
        <mat-
    </div> -->

    <div id="contact-button" [style.opacity.%]="opacity">
        <button id="send-button" mat-button color="accent" (click)="sendMessage()">{{'SEND'|translate}}</button>
    </div>

    <div>
        <h2 id="contact-send">{{'Thank you '|translate}}<b>{{sendername}}</b>{{'! I will get back to you as soon as I can!'|translate}}</h2>
    </div>

    <div>
        <h3 id="contact-error">{{'Please include an email and a name!'|translate}}</h3>
    </div>

</div>