<div class="bg">
    <div class="container">
        <div id="contact-title">
            <a class="mat-headline">
                <span class="dot"></span>
                <span class="dot"></span>
                <span class="dot"></span>
                <b>{{'Work Experience'|translate}}</b>
                <span class="dot"></span>
                <span class="dot"></span>
                <span class="dot"></span>
            </a>
        </div>
        
        <div >
            <h4 id="exp-subtitle">
                {{'Here are some of my relevant work experiences.'|translate}}
            </h4>
        </div>

        <p>
            <mat-card [style.width.%]="width" [style.opacity.%]="opacity">
                <mat-card-title><h2 style="text-decoration: none; color:black;">{{'IT Developer'|translate}}</h2></mat-card-title>
                <mat-card-subtitle>	<h4 style="text-decoration: none; color:#00a6ff;"><b>{{'Canada Revenue Agency / 2021 - Present'|translate}}</b></h4></mat-card-subtitle>
                <mat-card-content>{{'Worked in an Agile environment to develop and implement machine learning models to detect anomalies in internal applications.'|translate}}</mat-card-content>
            </mat-card>
            <mat-card [style.width.%]="width" [style.opacity.%]="opacity">
                <mat-card-title><h2 style="text-decoration: none; color:black;">{{'Freelance Artist'|translate}}</h2></mat-card-title>
                <mat-card-subtitle>	<h4 style="text-decoration: none; color:#00a6ff;"><b>{{'Self / 2013 - Present'|translate}}</b></h4></mat-card-subtitle>
                <mat-card-content>{{'Made use of several mediums, such as ink, watercolor, charcoal, oil, paints, and pencils, to complete unique pieces for clients.'|translate}}</mat-card-content>
            </mat-card>
        </p>
    </div>
</div>