<div class="container">
<mat-grid-list cols="3" rowHeight="2:1"> 
    <mat-grid-tile id="grid-two">
        <h1 [style.width.%]="width" [style.opacity.%]="opacity">
          {{'Hi, I am '|translate}}<b class="grad-text">Vidulash</b>,<br> {{'an'|translate}} <b class="grad-text">{{'IT Developer'|translate}}</b>{{' at'|translate}}<br>{{' CRA'|translate}}
        </h1>
    </mat-grid-tile>
    <mat-grid-tile [style.height.%]="height" colspan="2" rowspan="2" class="grid-one">
    </mat-grid-tile>
  </mat-grid-list>
</div>