<p>
<mat-toolbar color="primary">
    <span>
        <b id="header-name" routerLink="home">V<span>idulash</span> R<span>ajaratnam</span></b>
        <span class="dot"></span>
        <span class="dot"></span>
        <span class="dot"></span>
    </span>

    <div class="spacer"></div>
    <div class="options-row">   
        <button mat-flat-button color="primary" routerLink="about" routerLinkActive="active">{{'ABOUT ME'|translate}}</button>
        <div class="buttonspacer"></div>
        <button mat-flat-button color="primary" routerLink="skills" routerLinkActive="active">{{'SKILLS'|translate}}</button>
        <div class="buttonspacer"></div>
        <button mat-flat-button color="primary" routerLink="experience" routerLinkActive="active">{{'EXPERIENCE'|translate}}</button>
        <div class="buttonspacer"></div>
        <button mat-flat-button color="primary" routerLink="projects" routerLinkActive="active">{{'PROJECTS'|translate}}</button>
        <div class="buttonspacer"></div>
        <button mat-flat-button color="primary" routerLink="contact" routerLinkActive="active">{{'CONTACT'|translate}}</button>
    </div>

</mat-toolbar>
</p>